/*-- scss:defaults --*/


@import url('https://fonts.googleapis.com/css2?family=Laila&display=swap');

// Colors


$dark-green: #141619;
$body_bg: #b3b4bd;
$cream: #F7F7FF;
$gray: #000;
$purple: #FE5F55;
$raspberry: #940034;
$navy: #302c55;
$light-blue: #0188ac;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $purple; // highlight color when hovering over navbar links
$body-bg: $body_bg; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $light-blue; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color

/*-- scss:rules --*/
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

.dropdown-item {
  font-weight: bold;
  background-color: $cream;
  
}

.dropdown-item:hover {
  font-weight: bold;
  background-color: $purple;
}

.listing-category {
  background-color: $cream;
}
